# Whitelist gitignore

**

!exercises-setup
!exercises-setup/*.tf
!exercises-setup/terraform.tfstate

!exercise1
!exercise1/*.tf

!.github/
!.github/workflows/
!.github/workflows/*.yaml

!README.md

!.gitignore

